@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* HTML: <div class="loader"></div> */
.loaderEye {
  display: inline-flex;
  gap: 10px;
}
.loaderEye:before,
.loaderEye:after {
  content: "";
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(#222 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
  animation: 2.5s infinite;
  animation-name: l8-1, e8-2;
}
@keyframes l8-1 {
  0%,
  40%,
  100% {
    background-size: 100% 40%, 8px 8px;
  }
  50%,
  80% {
    background-size: 100% 0%, 8px 8px;
  }
}
@keyframes l8-2 {
  0%,
  50% {
    background-position: top, 50% 50%;
  }
  60%,
  65% {
    background-position: top, 70% 50%;
  }
  70%,
  75% {
    background-position: top, 30% 50%;
  }
  90%,
  100% {
    background-position: top, 50% 50%;
  }
}

.loader {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0 0, var(--_g) 0 100%, var(--_g) 100% 100%;
  background-size: 40% 40%;
  animation: l11 1s infinite linear;
}
@keyframes l11 {
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}
